*{
    margin: 0;
    padding: 0;
}

.red{
    border:1px solid red;
}

.green{
    border:  1px solid green;
}

.banner{
    height: 500px;
    /* width: 600px; */
    /* border: 1px solid red; */
    background: url('/banner-mobile.jpg') center center no-repeat;
    background-size: 100%;
    padding:20px;
}

.about-sign-in{
    height: 80px; 
    /* width: 100%; */
    text-align: right;
    padding-top:20px;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 60px;
}

.about, .sign-in{
    /* float: right; */
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding:7px 15px;
    display: inline-block;
    margin-top: 20px;
}

.sign-in{
    margin-right: 60px;
    margin-left: 25px;
    border-radius: 20px;
    border:1px solid green;
}

.logo{
    background: url('/hapoERP.png') center center no-repeat;
    margin-top: 40px;
    height: 100px;
}

.text{
    text-align: center;
}

.btn-start-now{
    text-align: center;
}
button{
    text-transform: uppercase;
    padding:10px 15px;
    border-radius: 20px;
    border:1px solid green;
    margin-top: 20px;
    cursor: pointer;
}

.content-center{
    height: 50px;
    /* border:1px solid red; */
    /* display: flex;` */
}

.left, .right, .center{
    width: 33%;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    height: 40px;
}
.left span, .right span, .center span{
    display: block;
}

.left img, .right img, .center img{
    height: 40px;
}

.text{
    margin-top: 40px;
}


